<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <power_toys>
            <weather>
                <is_enabled>1</is_enabled>
                <type_location>1</type_location>
                <skin>light</skin>
                <units>metric</units>
            </weather>
        </power_toys>
    </default>
</config>